---
---

@import 'jekyll-theme-cayman';
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap');

body {
  color: #e1e1e6;
  background: #111;
}

.page-header {
  background-color: #991521;
  background-image: linear-gradient(120deg, #000000, #991521);
  
  h1 {
    font-family: 'Gwendolyn', cursive;
    padding-top: 200px;
    background-image: url(https://holygrail.link/assets/img/logo.svg);
    background-position: center top;
    background-size: 300px;
    background-repeat: no-repeat;
    font-size: 60px;
  }
  
  a {
    display: none;
  }
}
